body{
    background-image: url("https://i.imgur.com/SgRSNmA.jpg");
    background-repeat: no-repeat;
    display: flex;
}
.logo{
  position: absolute; 
  padding-left: 13%;
  padding-top: 8%;
  
}
.f2{
    position: absolute;
    padding-left: 55%;
    padding-top: 13%;
    
}


