.story-card h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.story-card h1 {
    margin-left: 15px;
    margin-top: 10px;
    display: inline-block;
}

.story-card h3 {
    font-size: 18px;
    color: rgb(0, 132, 255);
}

.imagen-principal {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
}

.imagen-perfil {
    text-align: left; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    position: relative; 
    display: inline-block;
}
.story-card {
    width: 300px;
    display: inline-block;
    margin: 15px;
}
